*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: #ead8b6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.login-form{
    background-color: white;
    padding: 2.5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    margin-bottom: 10px;
    font-size: 1.7rem;
}

input{
    width: 90%;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 5px;
}

.login-btn{
    margin-top: 1rem;
    width: 90%;
    padding: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}