*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: #ead8b6;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    margin-top: -15rem;
}

th{
    background-color: rgb(168, 213, 215);
}

td{
    background-color: white;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 10px 15px;
}

.add-student-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-student-btn img{
    width: 30px;
}


/* ******************************** */
/* ADD STUDENTS PANEL */
/* ******************************** */


.add-student-panel{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: none;
}

.add-student-panel .inputs{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.add-student-panel .title{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.add-student-panel .inputs .bloc{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
}

.add-student-panel .inputs input{
    width: 90%;
    font-size: 1.5rem;
}

.add-student-panel .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.add-student-panel .buttons button, .edit-btn, .delete-btn{
    padding: 7px 15px;
    background-color: rgb(83, 182, 83);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-student-panel .buttons .cancel-add-btn{
    background-color: rgb(182, 83, 83);
}

.edit-btn{
    background-color: rgb(83, 169, 182);
}

.delete-btn{
    background-color: rgb(182, 83, 83);
}

.logout{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    padding: 7px 15px;
    background-color: rgb(247, 84, 84);
    color: white;
    border: none;
    border-radius: 3px;

}

.logout img{
    width: 20px;
}



/* ******************************** */
/* Edit STUDENTS PANEL */
/* ******************************** */


.edit-student-panel{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: none;
}

.edit-student-panel .inputs{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.edit-student-panel .title{
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.edit-student-panel .inputs .bloc{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
}

.edit-student-panel .inputs input{
    width: 90%;
    font-size: 1.5rem;
}

.edit-student-panel .buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-student-panel .buttons button{
    padding: 7px 15px;
    background-color: rgb(83, 182, 83);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-student-panel .buttons .cancel-edit-btn{
    background-color: rgb(182, 83, 83);
}